{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<h2>📤 Upload Resources</h2>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}

<button class="btn btn-success">Upload</button>
</form>

<hr>

<h4>Uploaded Resources</h4>

<table class="table table-striped">

<tr>
<th>ID</th>
<th>Title</th>
<th>File</th>
</tr>

{% for resource in resources %}
<tr>
<td>{{ resource.id }}</td>
<td>{{ resource.title }}</td>
<td>
<a href="{{ resource.file.url }}" target="_blank">
Download
</a>
</td>
</tr>
{% endfor %}

</table>

</div>

{% endblock %}